name: demo ci

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: build steps
        run: echo "hello"
 
  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: test steps
        run: echo "hello"       
