name: demo ci

on:
  push:
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: build steps
        run: echo "hello"
 
  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: test steps
        run: echo "${{vars.my_name}}" 
  deploy:  
       needs: test
       runs-on: ubuntu-latest
       
       steps:
          - name: test steps
            run: echo "succed the CI/CD"

